* {
  box-sizing:border-box;
}

header {
	background-color: white;
	position:sticky; 
	top:0;
	overflow: hidden; 
	margin: 0px auto;
	width: auto;
	box-shadow: 0px 2px grey;
}

#name {
	margin-left: 300px;
	float: left;
}

#my_name {
	margin: 0px!important;
	background-color: teal;
	color: white;
	padding: 20px;
}

.container {
	background-color: white;
	overflow: hidden; 
	margin-left: 300px;
	margin-right: 300px;
	padding: 20px;
	margin-bottom: 100px;
}

#about_me { 
	float: left;
}

#me {
	float: left;
	color: teal;
}

#Profile {
	float: left;
	width: 160px;
	height: 200px;
	padding: 10px;
}

body {
	background-image: url("../images/paper-bg.jpg");
}

footer {
	text-align: center;
	color: white;
	background-color: gray;
	padding-top: 10px;
}

#blue-line {
	color: teal;
	background-color: teal;
	height: 10px;
	border: solid 2px teal;
	margin: 0px;
}